@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Calibri, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.icon {
  color: royalblue;
  font-size: 36px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  margin: 16px;
  
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 2px;
  margin: 16px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}
.inside {
    flex-direction: column;
    margin-top: 16px;
}
.text {
    margin-top: 16px;
    font-size: 18px;
    
}
.header {
    font-size: 24px;
    margin-top: 8px;
}
